/*Telas de 1100 pra cima */

/*Seção para projetos*/

section#projects {
    height: 800px;
}

.project-tile {
    width: 50%;
    margin: auto;
}

.iframe {
    width: 30%;
    height: 400px;
}

.div-iframe {
    background-color: black;
    height: 60px;
    width: 28.5%;
    margin-left: 10px;
}

/*footer*/
footer .titulos > h2 {
    font-size: 5vw;
    margin-bottom: 20px;
}

footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


footer .redes-sociais #rd1,  footer .redes-sociais #rd2{
    margin: 50px 0 0 0;
}
